h1,h2,h3,h4,h5,h6 {
  color: blue;
  font-family: "Sans Serif", sans-serif;
}
#scoreBoard caption {
  border: 1px solid blue;
  font-weight: bold;
  background-color: yellow;
  font-size: 45px;
  width: 800px;

}

#scoreBoard {
  color: blue;
  border: 1px solid blue;

  font-weight: bold;
}

#scoreBoard th {
  border: 1px solid blue;
  font-weight: bold;
}

#scoreBoard td {
  border: 1px solid blue;
  text-align: center;
}
li {
  list-style:square;
}

blockquote {
  background: gray;
color: pink;
}

a:hover {
text-decoration: none;
  background: teal;

}
#teamRoster img {
  visibility: hidden;
}
 ul[id="teamRoster"] > li:first-child{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
  background-repeat: no-repeat;
  height:200px;
}
 ul[id="teamRoster"] > li:last-child{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
  background-repeat: no-repeat;
  width: 250px;
}

#checkbox-grid li{
  list-style-type:none;
}

ul[id="teamRoster"] ol>li:first-child{
font-weight: bold;
}
thead {
    background-color: lightgreen;
}
tbody>tr:first-child{
    background-color: yellow;
}
tbody>tr:last-child{
    background-color: lightgreen;
}
tfoot {
    background-color: yellow;
}
